@page "/"
@using WSIST.Engine
@inject TestManagement Management
<PageTitle>Home</PageTitle>

<h1>Overview</h1>

Welcome to your Overview.
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in Management.Tests)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.Subject</td>
                <td>@test.DueDate.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
</div>
    
@code {
    
}