@page "/"
@rendermode InteractiveServer
@using WSIST.Engine
@inject TestManagement Management
<PageTitle>Home</PageTitle>

<h1>Your upcoming Tests</h1>

Welcome to your Overview.
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in Management.Tests)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.Subject</td>
                <td>@test.DueDate.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="OpenAddTestModal">
        Add test
    </button>
    @if (showAddTestModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseAddTestModal">X</span>
                <form class="text-center" @onsubmit="AddTestSubmit">
                    <label for="testTitle">Test Title</label><br>
                    <input type="text" id="testTitle" name="Title" @bind="TestTitle"><br>
                    <label for="testSubject">Subject</label><br>
                    <input type="text" id="testSubject" name="Subject" @bind="Subject"><br/>
                    <label for="testDueDate">Due Date</label><br>
                    <input type="datetime-local" id="TestDueDate" name="dueDate" @bind="dueDate"><br/>
                    <br/>
                    <input type="submit" value="Submit"><br/>
                </form>
            </div>
        </div>
    }

</div>
@code {
    bool showAddTestModal = false;
    
    void OpenAddTestModal()
    {
        showAddTestModal = true;
    }
    void CloseAddTestModal()
    {
        showAddTestModal = false;
    }

    private string TestTitle;
    private string Subject;
    private DateTime dueDate;

    private void AddTestSubmit()
    {
        TestManagement management = new();
        management.NewTestMaker(TestTitle, Subject, dueDate);
        CloseAddTestModal();
    }
}